{% extends 'layout/base.html' %}

{% block title %}
Products
{% endblock title %}


{% block content %}

<h1>Все продукты</h1>
{% if products %}
<!-- Перед таблицей добавим форму для поиска -->

<form method="GET">
    {{ filter.form }}
    <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самим -->
    <input class="btn btn-primary" type="submit" value="Найти">
</form>

<table class="table">
    <tr>
        <th scope="col">
            Название
        </th>
        <th scope="col">
            Описание
        </th>
        <th scope="col">
            Категория
        </th>
        <th scope="col">
            Цена
        </th>
        <th scope="col">
            Действия
        </th>

    </tr>
    {% for product in filter.qs %}

    <tr>
        <td>
            <a href="{% url 'product:product_detail' product.id %}">
                <!-- здесь
                    fastfood -- название приложения, которое задано в urls.py с помощью директивы app_name,
                    product_detail -- название ссылки в списке эндпойнтов urlpatterns,
                    product.id -- id объекта, который передаётся в качестве через эндпойнт и подставляется вместо <int:pk>
                        -->
                {{ product.name }}
            </a>
            <!-- При нажатии на название в таблице нас теперь будет перекидывать на страницу с информацией о товаре/продукте -->
        </td>
        <td>
            {{ product.description }}
        </td>
        <td>
            {{ product.get_type_display|safe }}
        </td>
        </td>
        <td>
            {{ product.price }}
        </td>
        <td>
            <a href="{% url 'product:product_update' product.id %}">
                Update
            </a>
            <a href="{% url 'product:product_delete' product.id %}">
                Delete
            </a>
        </td>

    </tr>
    {% endfor %}
</table>

{% include 'product/parts/paginator.html' %}

{% else %}
<h2>Еды нет, кушать нечего...</h2>
{% endif %}

{% endblock content %}