<!--  наследуемся от шаблона base.html -->
{% extends 'layout/base.html' %}
{% load custom_filters %}
<!-- Название у нас будет products -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}

<h1>Все продукты</h1>
{% if products %}
<h3>{{ time_now|date:'M d Y' }}</h3>
<!-- Выводим продукты (блюда), только если они есть, с помощью тега if -->

<table class="table">
   <tr>
       <th scope="col">
           Название
       </th>
       <th scope="col">
           Описание
       </th>
       <th scope="col">
           Категория
       </th>
       <th scope="col">
           Цена
       </th>

   </tr>
   {% for product in products %}
   <!-- Для каждого товара будете генерироваться новая строчка, т.е. новый html-код. При этом сам цикл работает точно так же, как и в python. product -- переменная цикла, т.е. наш товар, взятый из общего списка -->
   <tr>
       <td>
           {{ product.name|multiply:2 }}
           <!-- Не забываем, что переменные в шаблоне ничем не отличаются от переменных в Python. Здесь также можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание и т.д.  -->
           <!-- Попробуем умножить название товара на строку а -->
       </td>
       <td>
           {{ product.get_type_display|safe }}
       </td>
       <td>
           {{ product.description|truncatewords:4}}<!-- Дописываем специальный фильтр, чтобы ограничить количество символов до 2 - первая буква + многоточие. -->
       </td>
       </td>
       <td>
           {{ product.price }}
       </td>

   </tr>
   {% endfor %}
</table>
{% else %}
<!-- Если продуктов нет, то сообщаем об этом пользователю  -->
<h2>Продуктов нет!</h2>
{% endif %}

{% endblock content %}